<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>

    <!-- use the font -->
    <style>
          body {
            font-family: 'Roboto', sans-serif;
            font-size: 12px;
        }
        .center{
            text-align: center;
        }
        .top-margin{
            margin-top: 20px;
        }
    </style>
</head>
<body>

<p th:text="${'Dear ' + name + ','}"></p>

<p>
    Please click  <a th:href="${url}">here</a> to activate your account.
</p>

<p>
   You can copy same link below and paste in the browser should you have problem clicking the link above <br /><br />
    <a th:href="${url}"><span th:text="${url}"></span></a>
</p>


<p>
    Kind Regards, <br />
    Chris
</p>

<p class="top-margin">
    <strong>This is an automated system email. Please do not reply to this email.</strong>
</p>
<p class="center">
    ©<span th:text="${#dates.format(#dates.createNow(), 'yyyy')}"></span> Chrisgya Solutions. All rights reserved
</p>

</body>
</html>